APPLICATION_PORT=
DJANGO_SECRET_KEY=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=
DJANGO_LOG_MB=
DJANGO_LOG_BACKUP=

# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_WAIT_TIME=

# CSRF
CSRF_TRUSTED_ORIGINS=

# Cross-Origin Opener Policy Values
CROSS_ORIGIN_OPENER_POLICY_VALUES=

# CORS
CORS_ALLOWED_ORIGINS=
CORS_ALLOW_CREDENTIALS=
CORS_ALLOW_METHODS=
CORS_ALLOW_HEADERS=
